/* Login */

.Login .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

.Search {
    margin-top: 1rem;
}

.Search-field-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.Search .Search-images .image {
    margin: 0 !important;
}

.Search .Search-images .box .media {
    min-width: 3rem;
}

/************************************************************************************************
* Components ************************************************************************************
*************************************************************************************************/

.Navbar.navbar.is-black {
    background-color: #0a0a0a;
}

/************************************************************************************************
* Helpers ***************************************************************************************
*************************************************************************************************/

.mh-auto {
    margin-left: auto;
    margin-right: auto;
}
